<h2>EDUCATION</h2>

<div class="edu-container">
    <div class="edu edu-1">
        <div class="edu-header">
            <p class="edu-header-paragraph">University of Johannesburg</p>
        </div>
        <div class="edu-qualification">
            <p class="edu-qualification-paragraph">Bsc. Computer Science and Informatics</p>
        </div>
    </div>

    <div class="edu edu-2">
        <div class="edu-header">
            <p class="edu-header-paragraph">Thomas Nhlabathi High School</p>
        </div>
        <div class="edu-qualification">
            <p class="edu-qualification-paragraph">National Senior Certificate</p>
        </div>
    </div>
</div>