<div class="about-container">
    <p class="about-testimony">
        I'm an intermediate Test Automation Engineer and Test Analyst with a Development background in commercial systems, this has been dominated by the experience i aquired
        when i was a Java Developer intern with a financial consulting company. This is were i got a thorough training which equipped me for industry work, i then took the skill
        into my freelancing space were i was developing systems for startups and/or individuals who wanted to expand their businesses into the online space. 
        As a tester i've come to learn to work in the Agile process and kind of mastered the process as well as working with a team of indivduals with various roles such as
        Business Analysts, Devs, UI designers, and Test Analysts. Working in such teams enabled me to get to learn from the various individuals and understand 
        their roles and how to interact with them. And i've come to respect and value these roles, seeing also that building big systems is a team work from various professionals
        and not just system developers.
    </p>
    <p class="about-testimony">
        I'm facinated in the tech field, and it is my desire to continue learning and applying the knowledge by helping clients achieve their goals. Throughout the years i've come
        to practically reliase that indeed the field i've delve into is a lifelong learning field, and in allowing myself to be continously thirsty for knowledge i will be
        enabling myself to reach far especially as the field is a fast growing field. And having worked on multiple projects and us achieving our goals i've also come to
        realize how much there is still to learn, and in learning how much easier we get to make our daily tasks easier.
    </p>
</div>