<div class="exp-container">
    <h2>PROFESSIONAL EXPERIENCE</h2>

    <div class="exp-header">
        <p class="exp-header-paragraph">Test Automation Engineer & Test Analyst</p>
    </div>
    <div class="exp-company">
        <p class="exp-company-paragraph">Software Testing Solutions (STS) <span class="exp-duration">[Sept-2020 &rightarrow; Currently Working Here]</span></p>
    </div>
    <div class="exp-duties-container">
            <p class="exp-duties-paragraph">Duties:</p><br />
            <ul class="exp-duties">
                <li>
                    <p>
                        Analyse the PRS provided by the Business Analysts and understand the requirements which includes how the software/system is suppose to look, feel and
                        respond (UX/UI). 
                    </p>
                </li>
                <li>
                    <p>
                        Bug reporting with the Business Analysts discovered on the PRS, which are normally type errors and sometimes misunderstandings during the initial phases of the systems requirements
                        developments.
                    </p>
                </li>
                <li>
                    <p>Creating test cases after having analysed the systems requirements according to the Business Analysts. </p>  
                </li>
                <li>
                    <p>
                        Creating test data by executing services scripts, database scripts, or interacting with the Developers in order to get the necessary data to Test
                        the system.
                    </p>
                </li>
                <li>
                    <p>Recording and reporting results according to the tests manually done.</p>
                </li>
                <li>
                    <p>
                        Writing code (object pages, scripts) which covers the web page elements and the steps on how to execute the site and interact with the elements and
                        verify expected conditions and generate reports, this covers the front-end part. In terms of the back-end scripts to interact with the services will be written using 
                        Cucumber and Rest Assured and executed to generate the reports.
                    </p>
                </li>
                <li>
                    <p>End-2-End testing and build monitor utilization and maintanance, which then assists with daily reports</p>
                </li>
                <li>
                    <p>Demonstrating the test automation executions to Business Analysts (UAT) for sign-off and release to the production environment.</p>
                </li>
            </ul>
    </div>
    <hr class="exp-line" />

    <div class="exp-header">
        <p class="exp-header-paragraph">Java Developer</p>
    </div>
    <div class="exp-company">
        <p class="exp-company-paragraph">Psybergate <span class="exp-duration">[Sept-2019 &rightarrow; Feb-2020]</span></p>
    </div>
    <div class="exp-duties-container">
            <p class="exp-duties-paragraph">Duties:</p><br />
            <ul class="exp-duties">
                <li>
                    <p>
                        Using Java (Core Java, J2EE, JSP, JDBC, Apache Tomcat) to Develop and Debug commercial systems.
                    </p>
                </li>
                <li>
                    <p>
                        Sharing ideas with the team, demonstrating my work in which i was tasked with to the team.
                    </p>
                </li>
                <li>
                    <p>
                        Local research on approaches to solving problems without relying on online material.
                    </p>  
                </li>
            </ul>
    </div>
    <hr class="exp-line" />


    <div class="exp-header">
        <p class="exp-header-paragraph">Freelance Logo Designer</p>
    </div>
    <div class="exp-company">
        <p class="exp-company-paragraph">Self-employed <span class="exp-duration">[Sept-2020 &rightarrow; Dec-2021]</span></p>
    </div>
    <div class="exp-duties-container">
        <p class="exp-duties-paragraph">Duties:</p><br />
        <ul class="exp-duties">
            <li>
                <p>
                    Design Logos for a client using the open software called Ink.
                </p>
            </li>
            <li>
                <p>
                    Interacting with the clients and getting to understand their needs in terms of the kind of company their are running and their slogan, sometimes even their likes,
                    then using the collected information to come up with a design, I do this in the case that the client does not know or have an idea of the logo he or she wants.
                </p>
            </li>
            <li>
                <p>
                    Reporting to the client regarding the progress in the design by show casing the snapshots or screenshots of the logo, and receiving feedback, which i then use to
                    edit or publish the logo, which can then be embedded on a website or app.
                </p>  
            </li>
        </ul>
    </div>
    <hr class="exp-line" />    
    

    <div class="exp-header">
        <p class="exp-header-paragraph">Freelance Developer</p>
    </div>
    <div class="exp-company">
        <p class="exp-company-paragraph">Self-employed <span class="exp-duration">[Jan-2019 &rightarrow; Dec-2021]</span></p>
    </div>
    <div class="exp-duties-container">
        <p class="exp-duties-paragraph">Duties:</p><br />
        <ul class="exp-duties">
            <li>
                <p>
                    Using various languages such as Java, Python, NodeJS, Kotlin, and Kivy to build web and mobile application systems for clients with small/startup businesses.
                </p>
            </li>
            <li>
                <p>
                    Interacting with the clients and getting to understand their needs and how i can put it to programming. Communicating with them about what is possible in terms
                    of programming their needs and what seems not possible as I'm also driven by experience I would sometimes introduce other ways which maybe the client was not
                    aware of in order to help with achiving the most of the clients requirements.
                </p>
            </li>
            <li>
                <p>
                    Reporting to the client on weekly basis, which sometimes will mean demonstrating the covered work to the client.
                </p>  
            </li>
        </ul>
    </div>
<hr class="exp-line" />


<div class="exp-header">
    <p class="exp-header-paragraph">Tutor & Assistance</p>
</div>
<div class="exp-company">
    <p class="exp-company-paragraph">UJ - Academy of Computer Science and Software Engineering <br /><span class="exp-duration">[Feb-2017 &rightarrow; Jun-2018]</span></p>
</div>
<div class="exp-duties-container">
    <p class="exp-duties-paragraph">Duties:</p><br />
    <ul class="exp-duties">
        <li>
            <p>
                Tutor Computer Science and Informatics students on semester work which entails more of the practical work and projects given by lectures, by advicing the
                students on how to get the work done in a way that the lecture expects so that students don't go to sources which might get them penalized.
            </p>
        </li>
        <li>
            <p>
                Assist students with their weekly projects which may be games development or programs to solve certain problems such as finding the shortest distance problems
                (like the Travelling Salesman), getting unknown issues or bugs resolved, and allowing the student to continue with coding.
            </p>
        </li>
        <li>
            <p>
                Assisting lectures with invigilating during tests and marking of students practical projects and tests, and reporting to the lecture running the module.
            </p>  
        </li>
    </ul>
</div>
<hr class="exp-line" />
</div>