<div class="certs-container">
    <h2>ACHIEVED CERTS</h2>
    
    <a href="https://www.udemy.com/certificate/UC-7a1b6b8e-9cae-4f93-ba5f-7d148f9c6e01/" class="cert-link">
        <div class="cert cert-1">
            <div class="cert-header">
                <p class="cert-header-paragraph">Learn and Understand AngularJS (Udemy)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2022</p>
            </div>
        </div>
    </a>
    
    <a href="https://www.pirple.com/certificates/bfixlcvvmf" class="cert-link">
        <div class="cert cert-2">
            <div class="cert-header">
                <p class="cert-header-paragraph">Cyber Security: White-Hat Ethical-Hacking (Pirple.com)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2021</p>
            </div>
        </div>
    </a>
    
    <a href="https://www.udemy.com/certificate/UC-4654c4ff-55de-4dae-9ddb-f9fa57dfdd0b/" class="cert-link">
        <div class="cert cert-3">
            <div class="cert-header">
                <p class="cert-header-paragraph">Spring Framework for Beginners with Spring Boot (Udemy)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2021</p>
            </div>
        </div>
    </a>
    
    <a href="https://matlabacademy.mathworks.com/progress/share/report.html?id=99d5af7e-58d3-43c0-8767-753634610e68" class="cert-link">
        <div class="cert cert-4">
            <div class="cert-header">
                <p class="cert-header-paragraph">MATLAB Onramp (MathWorks)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2021</p>
            </div>
        </div>
    </a>

    <a href="https://www.pirple.com/certificates/wohxcuizzk" class="cert-link">
        <div class="cert cert-5">
            <div class="cert-header">
                <p class="cert-header-paragraph">Android 101 (Pirple.com)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2021</p>
            </div>
        </div>
    </a>
    <a href="https://www.udemy.com/certificate/UC-f5ace506-b147-4f74-8034-1bdefd78c1b6/" class="cert-link">
        <div class="cert cert-6">
            <div class="cert-header">
                <p class="cert-header-paragraph">JavaScript (Udemy)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2020</p>
            </div>
        </div>
    </a>
    <a href="https://drive.google.com/file/d/1lcUR3Z1-jCCRmbCZkWX-A5QxgeDbhRtE/view" class="cert-link">
        <div class="cert cert-7">
            <div class="cert-header">
                <p class="cert-header-paragraph">Tutor and Assistant (UJ)</p>
            </div>
            <div class="cert-qualification">
                <p class="cert-year">2018</p>
            </div>
        </div>
    </a>
    
    <div class="cert cert-8">
        <div class="cert-header">
            <p class="cert-header-paragraph">National Senior Certificate (TNT)</p>
        </div>
        <div class="cert-year">
            <p class="cert-year">2013</p>
        </div>
    </div>
</div>